@media (max-width: 1200px){
    
}

@media (max-width: 991px){
    .header {
         &__logo {
            img {
                margin-left: 25px;
            }
        }
        &__contacts {
            margin-right: 25px;
        }
        }
    .promo {
        &__header {
            font-size: 35px;
            margin-right: 25px;
        }
        &__subheader{
            margin-right: 25px;
        }
        &__icons{
            margin-right: 25px;
        }
        .button_main{
            margin-right: 25px;
            width: 280px;
            height: 50px;
        }
        &__link{
            margin-right: 25px;
        }
 
    }
}
    
@media (max-width: 767px){
    .header {
        &__logo {
            width: 175px;
        }
        &__official{
            font-size: 12px;
            span {
                font-size: 12px;
            }
        }
        &__phone {
            font-size: 15px;
            
        }
        button {
            width: 135px;
            height: 30px;

        }
    }
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader{
            font-size: 17px;
        }
        &__icons {
            margin-right: 12px;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main{
            margin-right: 20px;
            width: 265px;
            height: 45px;
        }
        &__link{
            margin-right: 20px;
            font-size: 15px;
        }
    }
    .advantage {
        &__subheader {
            font-size: 25px;
        }
        &__icons{
            flex-direction: column;
        }
        
    }
}

@media (max-width: 575px){
    .header {
        &__logo {
            width: 175px;
        }
        &__official{
            font-size: 12px;
            span {
                font-size: 12px;
            }
        }
        &__phone {
            font-size: 15px;
            
        }
        button {
            width: 135px;
            height: 30px;

        }
    }
    .promo {
        &__header {
            font-size: 30px;
        }
        &__subheader{
            font-size: 17px;
        }
        &__icons {
            margin-right: 12px;
        }
        &__icon {
            font-size: 12px;
        }
        .button_main{
            margin-right: 20px;
            width: 265px;
            height: 45px;
        }
        &__link{
            margin-right: 20px;
            font-size: 15px;
        }
    }
    .advantage {
        &__subheader {
            font-size: 25px;
        }
        &__icons{
            flex-direction: column;
        }
        
    }

}
